<section class="container"> <!-- the outer container holds a grid of card-->
<!-- each loop generate a card for each item in the collection model -->
    <div class="row">
        {{each collections}}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <h5 class="card-body position-relative"></h5> <!-- EMPTY CARD BODY HOLD TITLE AND CONTENT LATER-->
                <p class="card-text">{{this.description}}</p> <!--description of each cardfrom card object-->

                <!--Edit button-->
                <button type="'button" class="btn btn-primary position-absolute top-0 end-0 m-2"
                    data-bs-toogle= "modal"
                    data-bs-target="#editModal-{{this.id}}">
                    Edit
                </button>
            </div>
        </div>
    </div>
    <!-- Edit modal for this Collestion -->
        <!--Adding dynamic modals for each collection, linking 'Edit' buttons to unique modals using collection IDs for editing-->
    <div class="modal fade" id="editModal-{{this.id}}" tabindex="-1" aria-labelledby="editModalLaber-{{this.id}}" aria-hidden="true">
     <div class="modal-dialog">
        <div class="model-content">
            <div class="modal-header">
                <h5 class=" modal-title" id="editModalLabel-{{this.id}}">Edit Collection</h5> 
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div clas="modal-body">
                <form id="edit-collection-form-{{this.id}}" data-collection-id="{{this.id}}" value="this.title">
                    <div class="mb-3">
                        <label for="collection-title-{{this.id}} " class="form-label">Collection Title</label>
                        <input type="text" class="form-control" id="collection-title-{{this.id}}" value="{{this.title}}">
                    </div>
                </form>
            </div>
        </div>
     </div>
    </div>
</section>