<section class="container"> 
    <div class="row">
        {{#each collections}}
            {{> collection-tile}} <!-- Including the collection-tile partial -->
        {{/each}}
    </div>

    <!-- Edit modal for each collection -->
    {{#each collections}}
    <div class="modal fade" id="editModal-{{this.id}}" tabindex="-1" aria-labelledby="editModalLabel-{{this.id}}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel-{{this.id}}">Edit Collection</h5> 
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="edit-collection-form-{{this.id}}" data-collection-id="{{this.id}}">
                        <div class="mb-3">
                            <label for="collection-title-{{this.id}}" class="form-label">Collection Title</label>
                            <input type="text" class="form-control" id="collection-title-{{this.id}}" value="{{this.title}}">
                        </div>
                        <div class="mb-3">
                            <label for="collection-description-{{this.id}}" class="form-label">Description</label>
                            <textarea class="form-control" id="collection-description-{{this.id}}" rows="3">{{this.description}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</section>
